{% extends 'base.html.twig' %}

{% block title %} User Profile {% endblock %}

{% block body %}

    <div style="visibility: hidden">
        <span>hidden</span>
    </div>
    <div class="buffer" style="padding: 15px; color: white">
        <h1>Jesse Maynard -- Admin</h1>
        <h3>Email: jmaynard@brownfoodservice.com</h3>
    </div>

    <nav class="buffer" style="margin-top: 15px; background: #2C3034">
        <div class="d-flex flex-row ">
            <a href="#" class="btn btn-dark btn-lg me-3">Change Email</a>

            <a href="#" class="btn btn-dark btn-lg me-3">Change Password</a>

            <a href="{{ path('admin') }}" class="btn btn-dark btn-lg me-3">Admin Panel</a>

{#            <div {{ stimulus_controller('modal-form') }}>#}
{#                <button class="btn btn-dark btn-lg me-3">Logout</button>#}
{#            </div>#}
        </div>
    </nav>





{% endblock %}